In [17]:
import pandas as pd
import numpy as np
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [2]:
concrete_data = pd.read_csv('concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

In [3]:
concrete_data.shape

(1030, 9)

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [7]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
target = concrete_data['Strength'] # Strength column
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
n_cols = predictors_norm.shape[1] # number of predictors
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(10, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [14]:
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

# build the model
model = regression_model()
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=2)

Train on 721 samples
Epoch 1/50
721/721 - 1s - loss: 1573.0358
Epoch 2/50
721/721 - 0s - loss: 1545.9847
Epoch 3/50
721/721 - 0s - loss: 1505.5596
Epoch 4/50
721/721 - 0s - loss: 1438.4502
Epoch 5/50
721/721 - 0s - loss: 1330.2021
Epoch 6/50
721/721 - 0s - loss: 1166.8165
Epoch 7/50
721/721 - 0s - loss: 945.9544
Epoch 8/50
721/721 - 0s - loss: 689.0166
Epoch 9/50
721/721 - 0s - loss: 469.2476
Epoch 10/50
721/721 - 0s - loss: 333.2639
Epoch 11/50
721/721 - 0s - loss: 289.0977
Epoch 12/50
721/721 - 0s - loss: 269.5049
Epoch 13/50
721/721 - 0s - loss: 256.7525
Epoch 14/50
721/721 - 0s - loss: 245.6533
Epoch 15/50
721/721 - 0s - loss: 235.6555
Epoch 16/50
721/721 - 0s - loss: 227.5023
Epoch 17/50
721/721 - 0s - loss: 219.7640
Epoch 18/50
721/721 - 0s - loss: 213.0851
Epoch 19/50
721/721 - 0s - loss: 205.9780
Epoch 20/50
721/721 - 0s - loss: 200.0343
Epoch 21/50
721/721 - 0s - loss: 194.5554
Epoch 22/50
721/721 - 0s - loss: 189.3267
Epoch 23/50
721/721 - 0s - loss: 184.4333
Epoch 24/50
721/721 - 0s - loss: 180.1110
Epoch 25/50
721/721 - 0s - loss: 176.0086
Epoch 26/50
721/721 - 0s - loss: 172.3188
Epoch 27/50
721/721 - 0s - loss: 168.4741
Epoch 28/50
721/721 - 0s - loss: 164.5914
Epoch 29/50
721/721 - 0s - loss: 161.3998
Epoch 30/50
721/721 - 0s - loss: 159.7378
Epoch 31/50
721/721 - 0s - loss: 156.2032
Epoch 32/50
721/721 - 0s - loss: 153.7274
Epoch 33/50
721/721 - 0s - loss: 151.5635
Epoch 34/50
721/721 - 0s - loss: 149.7906
Epoch 35/50
721/721 - 0s - loss: 147.6405
Epoch 36/50
721/721 - 0s - loss: 146.1276
Epoch 37/50
721/721 - 0s - loss: 144.3242
Epoch 38/50
721/721 - 0s - loss: 143.1942
Epoch 39/50
721/721 - 0s - loss: 141.8362
Epoch 40/50
721/721 - 0s - loss: 140.6419
Epoch 41/50
721/721 - 0s - loss: 139.3648
Epoch 42/50
721/721 - 0s - loss: 138.5400
Epoch 43/50
721/721 - 0s - loss: 137.5651
Epoch 44/50
721/721 - 0s - loss: 136.8481
Epoch 45/50
721/721 - 0s - loss: 136.0842
Epoch 46/50
721/721 - 0s - loss: 135.4065
Epoch 47/50
721/721 - 0s - loss: 134.0658
Epoch 48/50
721/721 - 0s - loss: 133.5912
Epoch 49/50
721/721 - 0s - loss: 132.6808
Epoch 50/50
721/721 - 0s - loss: 131.8314

In [15]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 0s 420us/sample - loss: 133.8715

133.87145655363508

In [18]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

133.8714599688705 0.0

In [19]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 99.35092561839082
MSE 2: 119.23692336591702
MSE 3: 107.77055289753046
MSE 4: 117.4771868758217
MSE 5: 117.29196537351146
MSE 6: 104.60864203493186
MSE 7: 96.68372154853105
MSE 8: 48.75975130445363
MSE 9: 45.02884441980652
MSE 10: 42.45203736684855
MSE 11: 39.75448771356379
MSE 12: 36.45556482605178
MSE 13: 44.07095314692525
MSE 14: 41.095114525853624
MSE 15: 36.02436022465283
MSE 16: 30.888912827451637
MSE 17: 36.14570271390156
MSE 18: 36.70028024198168
MSE 19: 32.702961788979934
MSE 20: 36.079817268840706
MSE 21: 33.579662890881785
MSE 22: 36.56535257876498
MSE 23: 31.501559828477383
MSE 24: 32.863207252280226
MSE 25: 36.87406646703825
MSE 26: 33.19998029443438
MSE 27: 31.118538680585843
MSE 28: 31.800404206062982
MSE 29: 38.32604505174754
MSE 30: 35.50190428699876
MSE 31: 32.19965081693285
MSE 32: 28.715816584219823
MSE 33: 29.101159426000898
MSE 34: 35.05529987619147
MSE 35: 32.27536260117219
MSE 36: 38.26556282907628
MSE 37: 28.35503184988275
MSE 38: 31.025403550527628
MSE 39: 28.85609252090207
MSE 40: 23.195800361509846
MSE 41: 29.99667932454822
MSE 42: 25.781966113735557
MSE 43: 28.077481479706503
MSE 44: 32.231718730000615
MSE 45: 28.628415302165504
MSE 46: 27.74627229388092
MSE 47: 27.871531995754797
MSE 48: 25.184578719648343
MSE 49: 27.302155318769437
MSE 50: 28.972892032857853


Below is the mean and standard deviation of 50 mean squared errors with normalized data. Total number of epochs for each training is: 50

Mean: 43.97496546853072
Standard Deviation: 26.889139741103595